.all-content-container{
    width: 100%;
    background: #1B1B1B;
}
.content-container{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.website-links-wrapper{
    padding: 10px;
    border-bottom: 1px solid white;
}
.website-links-wrapper ul li{
    list-style: none;
}
.website-links-wrapper ul li a{
    color: #469FFF;
    font-size: .8em;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.disclaimer-wrapper{
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}
.English-version{
    color: white;
    padding: 10px;
}
.English-version h3{
    font-size: 1em;
    margin-bottom: 10px;
}
.English-version p{
    font-size: .7em;
    margin-bottom: 10px;
}
.Japan-version{
    color: white;
    padding: 10px;
}
.Japan-version h3{
    font-size: 1em;
    margin-bottom: 10px;
}
.Japan-version p{
    font-size: .7em;
    margin-bottom: 10px;
}
